*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.swiper-container{
    width: 80%;
    height: 350px;
    // background: lightblue;
  }

  .swiper2{
    width: 80%;
    height: 450px;
  }


  .swiper-slide{
    //   width: 20rem;
    //   height: 20rem;
    //   background: grey;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .shop-slide{
      display: flex;
      flex-direction: column;
  
  }

  .shop-slide img{
    height: 300px;
    box-shadow: none !important;
    margin-bottom: 1rem;
    padding: 1rem;
   
    
}



  .swiper-slide img{
    height: 300px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.17);
    transition: 0.5s;
    
}

.swiper-slide img:hover{
    transform: scale(1.02);
}

.swiper-button-prev, .swiper-button-next{
    color: black !important;
    
    
   
    
}

.mag-slider, .shop-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issuebtn-container{
    width: 80%;
    background: lightblue;
    display: flex;
    justify-content: flex-end;

}

button{
    height: 4rem;
    width: 15rem;
    background: red;
    border: none;
    color: white;
}





@media only screen and (max-width: 600px) {


    .swiper-container {
        width: 90%;
      }

    .swiper-slide img{
        height: 250px;
        
    }

   
}



@media only screen and (max-width: 450px) {


    .swiper-slide img{
        height: 200px;
        
    }
}
